body {
  width: 100%;
  height: 100%;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  height: 100%;
}

/* h1 {
  font-size: 5rem;
} */

header {
  background: linear-gradient(90deg, #4facfe, #00f2fe);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}